.quadrinho {
    height: 420px;
    width: 300px;
    background-color: white;
    border: 1px solid rgba(199, 199, 199, 0);
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.quadrinho:hover {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 20px;
}

.quadrinho img {
    margin: auto;
    display: block;
    width: 250px;
    cursor: pointer;
}

.quadrinho span {
    cursor: pointer;
}


.carousel img {
    width: 100%;
    cursor: pointer;
}

.carrinho {
    position: fixed;
    right: 1.5%;
    height: 550px;
    width: 18%;
    border-radius: 20px;
}

.filterItem:hover {
    border: 1px solid lightgray !important;
}