/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-menu-panel {
    min-width: 500px !important;
}

.search .mat-option  {
    height: 100px !important;
}


/* --------------------------------- SCROLL BAR ---------------------------------------- */
/* width */
::-webkit-scrollbar {
    width: 8px;    
  }  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
  }   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #008F97; 
    border-radius: 4px;
  }  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00595e; 
  }

/*-------------------*/

.nota {
    background-color: #00595e;
    color: white;
}
]
.nota span{
    display: block;
    margin:auto !important;
    text-align: center !important;
}

.mat-step-icon {
  background-color: orange !important;
}

.mat-ink-bar {
  background-color: orange !important;
}

.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
  background-color: orange !important;
}